* {
    margin: 0px;
    border: 0px;
    font-family: Georgia;
    font-size: 40px;
    text-align:left;
  }
   body {
      background-color: rgb(168, 168, 168);
   }
   
   .menu-list {
    
     /* background-color: rgb(255, 255, 255); */
     /* width: 450px;
     height: 100px; */
     
   }

   .menu-list > ul > li >p{
      
      padding-top: 30px solid rgb(255,255,255); 

   }
   @keyframes animation {
       0%{
           left : -420px;
           padding-bottom: 20px;
       }
       100%{
           left : 0px;
         padding-bottom: 70px;}

   }

.item {
 position: absolute;
 left : -420px;
 top: 0;
 background-color: rgb(255, 255, 255);
 width: 450px;
 height:100px;
 list-style: none;
 z-index: 0;
 padding-bottom: 20px;
 transition: 0.3s left ease-in, 0.3s padding ease-in;
 /* transition: padding-bottom 0.3s; */

 
}

 .item:hover {
       animation-name: animation;
       animation-duration: 0.3s;
       left: 0px;
       z-index: 1;
       padding-bottom: 70px;
     
  
   }

   #_2 {
       top:100px;
       background-color: rgb(140, 200, 255);
   }
   #_3 {
       top:200px;
       background-color: rgb(240, 200, 155);
   }